/* css/styles.css */

/* Base Styles */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    font-family: 'Roboto', sans-serif;
    transition: background-color 0.3s, color 0.3s;
    display: flex;
}

.sidebar {
    width: 25%;
    background-color: #f8f9fa;
    padding: 20px;
    overflow: auto;
    transition: background-color 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

.profile-pic {
    width: 150px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.social-icons {
    margin-top: 15px;
}

.social-icons a {
    margin: 0 10px;
    color: #333;
    text-decoration: none;
    outline: none;
}

.social-icons a img {
    width: 30px;
    height: 30px;
    border: none;
    outline: none;
}

.other-website {
    margin-top: 20px;
    text-align: center;
}

.other-website a {
    color: #007bff;
    text-decoration: none;
}

.other-website a:hover {
    text-decoration: underline;
}

/* Dark Mode Styles */
.dark-mode .sidebar {
    background-color: #343a40;
    color: #fff;
}

.dark-mode .content {
    background-color: #212529;
    color: #f8f9fa;
}

.dark-mode a {
    color: #adb5bd;
}

.dark-mode .social-icons a {
    color: #adb5bd;
}

.dark-mode .navbar {
    background-color: #343a40;
}

.dark-mode .navbar .nav-link {
    color: #adb5bd;
}

.dark-mode .navbar .navbar-brand {
    color: #fff;
}

.navbar {
    background-color: #f8f9fa;
    padding: 10px;
    flex-shrink: 0;
}

.nav-link {
    color: #333;
}

.nav-link:hover {
    color: #007bff;
}

/* Adjusted Dark Mode Toggle Icon Size */
.navbar .dark-mode-toggle img {
    width: 24px;
    height: 24px;
    max-width: 24px;
    max-height: 24px;
}

/* Ensuring the image doesn't stretch */
.navbar .dark-mode-toggle {
    padding: 0;
}

.card {
    background-color: #fff;
    color: #333;
}

.dark-mode .card {
    background-color: #343a40;
    color: #f8f9fa;
}

.footer {
    text-align: center;
    padding: 10px;
    background-color: #f8f9fa;
}

.dark-mode .footer {
    background-color: #343a40;
    color: #f8f9fa;
}

/* Responsive Design */
@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .content-wrapper {
        margin-left: 0;
    }
}
